h1 {
  background-color:   #0000FF;
  text-align: center
}

.column-1 {
  background-color:     #00BFFF;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 1% 2% 2% 2%;
  border: 3px solid black;
}

.column-2 {
  background-color: #00BFFF;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40%;
  padding: 1% 2% 2% 2%;
  margin-left: 2%;
  border: 3px solid black;
}

footer {
  background-color: #B0E0E6;
  padding: 1% 1% 1% 1%;
  margin-top: 2%
}